<?xml version="1.0" encoding="EUC-KR"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>vvipserver_a</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.vvip.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchQuote</display-name>
    <servlet-name>SearchQuote</servlet-name>
    <servlet-class>com.vvip.servlet.SearchQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchQuote</servlet-name>
    <url-pattern>/SearchQuote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchChart</display-name>
    <servlet-name>SearchChart</servlet-name>
    <servlet-class>com.vvip.servlet.SearchChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchChart</servlet-name>
    <url-pattern>/SearchChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileMarketIndex</display-name>
    <servlet-name>MobileMarketIndex</servlet-name>
    <servlet-class>com.vvip.servlet.MobileMarketIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileMarketIndex</servlet-name>
    <url-pattern>/MobileMarketIndex</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/DataError.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/ServerInternalError.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AdminServer</display-name>
    <servlet-name>AdminServer</servlet-name>
    <servlet-class>com.vvip.servlet.AdminServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServer</servlet-name>
    <url-pattern>/AdminServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLogFile</display-name>
    <servlet-name>ViewLogFile</servlet-name>
    <servlet-class>com.vvip.servlet.ViewLogFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLogFile</servlet-name>
    <url-pattern>/ViewLogFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuote</display-name>
    <servlet-name>UpdateQuote</servlet-name>
    <servlet-class>com.vvip.servlet.UpdateQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuote</servlet-name>
    <url-pattern>/UpdateQuote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCurrentQuote</display-name>
    <servlet-name>ViewCurrentQuote</servlet-name>
    <servlet-class>com.vvip.servlet.ViewCurrentQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCurrentQuote</servlet-name>
    <url-pattern>/ViewCurrentQuote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemRecommend</display-name>
    <servlet-name>ItemRecommend</servlet-name>
    <servlet-class>com.vvip.servlet.ItemRecommend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemRecommend</servlet-name>
    <url-pattern>/ItemRecommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendHistory</display-name>
    <servlet-name>RecommendHistory</servlet-name>
    <servlet-class>com.vvip.servlet.RecommendHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendHistory</servlet-name>
    <url-pattern>/RecommendHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGA</display-name>
    <servlet-name>UpdateGA</servlet-name>
    <servlet-class>com.vvip.servlet.UpdateGA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGA</servlet-name>
    <url-pattern>/UpdateGA</url-pattern>
  </servlet-mapping>
</web-app>